/*Stylin'*/

html {
  background: no-repeat center center fixed;
  background-image: url(../img/gradient-background.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
