/*Stylin'*/

html, body {
  margin: 0;
  padding: 0;
  /*background: #000;*/
  height: 100%;
  width: 100%;
}

html {
  background: no-repeat center center fixed;
  background-image: url(../img/gradient-background.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#gauge {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 300px;
  overflow: hidden;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}

#confetti{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

#cog, #git {
  color: #ffffff;
  font-size: 200%;
  display: block;
  margin: 10px;
  position: relative;
  text-decoration: none;
  /*text-shadow: 0px 1px 0px rgba(0,0,0,0.5);*/
}
#cog:hover, #git:hover {
  color: #404040;
}
#git {
  float: left;
}
#cog {
  float: right;
}
